<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= multiple_select f, :colors, ["White": "White", "Blue": "Blue", "Black": "Black", "Red": "Red", "Green": "Green"] %>

  <%= select f, :type, ["Commander", "Pauper", "Standard", "Modern", "Legacy", "Other"] %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
